h2
{
    text-align: center;
}
h3
{
    text-align: center;
}
header
{
    text-align: right;
    word-spacing: 10px;
    border: 2px;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

table{
    border: 1px solid black;

}
#studs{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}